body {
  background-color: black;
}

.NumberDisplay {
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: row-reverse;
}

.ButtonRow {
  display: flex;
  height: 50px;
}

.Button {
  width: 25%;
  border: 0;
  text-align: center;
  font-size: 1.5rem;
  border: solid 0.5px;
}

.Button:hover {
  cursor: pointer;
}

.Button[content="0"] {
  width: 50%;
}


.Button[color="yellow"] {
  background-color: #f5923e;
}

.Button[color="grey"] {
  background-color: #e0e0e0;
}

.Button[color="blk"] {
  background-color: #858694;
}